@page
@model ConsultaPublica.Pages.FormConsultaPublica.IndexModel
@{
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>

<div mbsc-page class="demo-input-label-types">
    <div style="height:100%">
        <div class="mbsc-grid">
            <div class="mbsc-row mbsc-justify-content-center">
                <div class="mbsc-col-sm-12 mbsc-col-md-8 mbsc-col-xl-4">
                    <div class="mbsc-form-group">
                        <div class="mbsc-form-group-title">Consulta pública</div>
                        <label>
                            <select mbsc-dropdown data-label-style="floating" data-input-style="outline">
                                <option>Gênero</option>
                                <option value="masculino">Masculino</option>
                                <option value="feminino">Feminino</option>
                                <option value="outro">Outro</option>
                                <option value="abstencao">Prefiro não dizer</option>
                            </select>
                        </label>
                        <label>
                            <select mbsc-dropdown data-label-style="floating" data-input-style="outline"
                                    data-start-icon="plus" data-end-icon="close">
                                <option>Idade</option>
                                <option>16 a 29 anos</option>
                                <option>30 a 45 anos</option>
                                <option>46 a 60 anos</option>
                                <option>61 anos ou mais</option>
                                
                            </select>
                        </label>
                        <label>
                            <select mbsc-dropdown data-label-style="floating" data-input-style="outline"
                                    data-start-icon="plus" data-end-icon="close">
                                <option>Residência</option>
                                <option>Cidade Nova</option>
                                <option>Bairro Alagoas</option>
                                <option>Bairro Bonfim</option>
                                <option>Bairro Botequim</option>
                            </select>
                        </label>
                        <div class="formCheckInterf"> 
                            Na sua opnião dos itens abaixo, quais são os que tem maior interferência na segurança pública de Estância?<b>Assinale no máximo 3 fatores</b>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Bairro Alagoas
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                <label class="form-check-label" for="flexCheckDefault1">
                                    Bairro Alecrim
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                <label class="form-check-label" for="flexCheckDefault2">
                                    Bairro Bonfim
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                                <label class="form-check-label" for="flexCheckDefault3">
                                    Bairro Botequim
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                                <label class="form-check-label" for="flexCheckDefault4">
                                    Bairro Candeal
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                                <label class="form-check-label" for="flexCheckDefault5">
                                    Bairro Centro
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6">
                                <label class="form-check-label" for="flexCheckDefault6">
                                    Bairro Estancinha
                                </label>
                            </div>
                        </div>
                        
                        @*<div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Checked checkbox
                            </label>
                        </div>*@
                        
                        <label class="mbsc-err">
                            Email
                            <input mbsc-input data-label-style="floating" data-input-style="outline" type="text"
                                   data-start-icon="material-email" placeholder="With error styling"
                                   data-error="true" />
                        </label>
                        <label class="mbsc-err">
                            Password
                            <input mbsc-input data-label-style="floating" data-input-style="outline" type="password"
                                   data-password-toggle="true" placeholder="With icons and error message"
                                   data-start-icon="lock2" data-error="true" data-error-message="An error occurred" />
                        </label>
                        <label>
                            <input mbsc-input data-label-style="floating" data-input-style="outline" type="text"
                                   data-start-icon="empty" placeholder="Without label" />
                        </label>
                        <label>
                            About me
                            <textarea mbsc-textarea data-label-style="floating" data-input-style="outline"
                                      data-start-icon="bubble" data-start-icon-align="left"
                                      placeholder="Textarea with left icon"></textarea>
                        </label>

                        <label>
                            File upload
                            <input mbsc-input data-label-style="floating" data-input-style="outline" type="file"
                                   placeholder="Select file..." />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



