@page
@model ConsultaPublica.Pages.Form.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Genero" class="control-label"></label><br/>
                <input asp-for="Movie.Genero" class="form-control" /><br />
                Masculino: <input type="checkbox" /><br />
                Feminino: <input type="checkbox" /><br />
                Outro: <input type="checkbox" /><br />
                Prefiro não declarar: <input type="checkbox" /><br />
                <span asp-validation-for="Movie.Genero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Movie.testeVorF" class="control-label"></label>
                Masculino: <input type="checkbox" asp-for="Movie.testeVorF" />
                <span asp-validation-for="Movie.testeVorF" class="text-danger"></span>
            </div>

            
            @*<div class="form-group">
                <label>Gênero</label>
                Masculino: <input type="checkbox"/>
                Feminino: <input type="checkbox"/>
                Outro: <input type="checkbox"/>
                Prefiro não declarar: <input type="checkbox"/>
            </div>*@

            <div class="form-group">
                <label asp-for="Movie.Residencia" class="control-label"></label>
                <input asp-for="Movie.Residencia" class="form-control" />
                <span asp-validation-for="Movie.Residencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.InterferenciaCidade" class="control-label"></label>
                <input asp-for="Movie.InterferenciaCidade" class="form-control" />
                <span asp-validation-for="Movie.InterferenciaCidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.InterferenciaComunidade" class="control-label"></label>
                <input asp-for="Movie.InterferenciaComunidade" class="form-control" />
                <span asp-validation-for="Movie.InterferenciaComunidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.PrioridadePoderPublico" class="control-label"></label>
                <input asp-for="Movie.PrioridadePoderPublico" class="form-control" />
                <span asp-validation-for="Movie.PrioridadePoderPublico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Confianca" class="control-label"></label>
                <input asp-for="Movie.Confianca" class="form-control" />
                <span asp-validation-for="Movie.Confianca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.AcoesRelevancia" class="control-label"></label>
                <input asp-for="Movie.AcoesRelevancia" class="form-control" />
                <span asp-validation-for="Movie.AcoesRelevancia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Descreva" class="control-label"></label>
                <input asp-for="Movie.Descreva" class="form-control" />
                <span asp-validation-for="Movie.Descreva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
